<head>
  <title></title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div class="todo-container">
      <h2>To-Do TechX</h2>
      <div class="todo">
          <form action="/" method="POST" id="input-container">
              <input type="text" name="content" id="task-input">
              <button type="submit" id="task-input-button">
                <ng-icon name="featherPlusSquare" id="task-input-button-icon"></ng-icon>
              </button>
          </form>
          <ul class="todo-list">
              <li class="todo-list-item">
                <button class="task-check-button"><ng-icon name="featherCheckSquare" class="task-check-icon"></ng-icon></button>  
                <p class="task-name">Criar uma todo list muito bacana para o meu site</p>
                <div class="task-button-container">
                  <button class="task-edit-button"><ng-icon name="heroCog6Tooth" class="task-edit-icon"></ng-icon></button>
                  <button class="task-remove-button"><ng-icon name="featherXSquare" class="task-remove-icon"></ng-icon></button>
                </div>
              </li>
          </ul>
      </div>
  </div>
  
</body>