* {
 margin: 0;
 padding: 0;
}
html {
    margin: auto;
    justify-content:center;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background-color: #131d42;
    margin: auto;
    padding: 10px;
}
 